# Connection String Database Neon Postgres (Serverless / Pooler Mode)
DATABASE_URL="postgresql://username:password@ep-sample-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# Secret Key untuk Enkripsi Token Sesi JWT (Harap ganti di Vercel/Railway Production)
JWT_SECRET="rapotin-secret-key-change-this-in-production-12345"

# PIN Bawaan Guru 6 Karakter
DEFAULT_TEACHER_PIN="xxxxxx"
